image boot.vfat {
        vfat {
                extraargs = "-F 32 -n BATOCERA"
		@files
        }

size = 1G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "100M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image batocera.img {
	hdimage {
#		align = "1M"
	}

        partition bl1 {
                in-partition-table = "no"
                image = "../uboot-odroid-c2/bl1.bin.hardkernel"
                offset = 0
        }

        partition u-boot {
                in-partition-table = "no"
                image = "../uboot-odroid-c2/uboot-odroid-c2.img"
                offset = 49664
        }

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 1048576
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
